@tailwind base;
@tailwind components;
@tailwind utilities;

.cluster-overlay {
    position: absolute; /* To position it over the diagram */
    border: 2px solid #0a58ca; /* Example border  */
    background-color: rgba(
        10,
        88,
        202,
        0.2
    ); /* Example semi-transparent background */
    /* ... More styling as needed ... */
}

.calendar-placement {
    position: relative; /* To position it relative to the parent */
    top: 10px;
    right: 10px;
    height: 250px;
    width: auto;
    width: 300px; /* Adjust as needed */
}
